{% extends "base.html" %}{% block content %}

    <div class="container-fluid">
        {% include 'messages.html' %}
        
        <div class="row justify-content-md-between mt-3 ml-1">
            
            <div class="col-md-9 card-container">
                
                <div class="row justify-content-md-star">
                    {% if courses | courses(finished=find) > 0 %}
                        {% for courses in subjects_user.items %}
                            {% set dato = [
                                courses.name, 
                                courses.id] %}
                            <div class="card border-primary card-row mx-2 mb-5">
                                <figure>
                                    {{ courses.name | generate_avatar(size=300,
                                    class='card-img-top') }}
                                </figure>
                                <div class="card-body text-center">
                                    <h5 class="card-title"> 
                                        {{ courses.name }}
                                        <span></span>
                                    </h5>
                                    {% if courses.teacher %}
                                        <p class="card-text"> {{ courses.teacher }} </p>
                                    {% else %}
                                        <p class="card-text">
                                            <div class="dropdown no-arrow">
                                                <a href="#" class="dropdown-toggle"
                                                    type="button" id="dropdownMenuButton"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    Asignar instructor
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a href="#" data-toggle="modal"
                                                        data-target="#staticBackdropTeacher"
                                                        class="dropdown-item cursor">
                                                        Nuevo
                                                    </a>
                                                    <button class="dropdown-item dropright cursor"
                                                    onclick='assignTeacher({{ dato | tojson }})'
                                                    data-toggle="modal" data-target="#assingTeachers">
                                                    Existente
                                                    </button>
                                                </div>
                                            </div>
                                        </p>
                                    {% endif %}
                                    
                                    <a href=" {{url_for('users.courses', id=courses.id)}} "
                                    class="mx-auto" title="Ir al curso">
                                        <img src="{{ url_for('static',filename='icons-svg/icons/arrow-right-circle.svg') }}" style="width: 2rem;">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <img src="{{ url_for('static',filename='images/undraw/undraw_empty.svg') }}" 
                        alt="Empty space" class="img-empty m-auto">
                    {% endif %}
                </div>
            </div>

            <div class="list-group col-md-3 d-none d-sm-inline-block" 
              id="list-ta" role="tablist">
                <a class="list-group-item list-group-item-action d-flex justify-content-between 
                    align-items-cente" href="?courses=all">
                    Todas los cursos
                    <span class="badge badge-primary badge-pill">
                        {{ courses | courses(finished='all') }}
                    </span>
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between 
                    align-items-center" href="?courses=pending">
                    Cursos actuales
                    <span class="badge badge-primary badge-pill">
                        {{ courses | courses(finished=0) }}
                    </span>
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between 
                    align-items-center" href="?courses=finished">
                    Cursos completados
                    <span class="badge badge-primary badge-pill">
                        {{ courses | courses(finished=1) }}
                    </span>
                </a>
                <span class="list-group-item d-flex justify-content-between 
                    align-items-center">
                    Progreso
                    <span class="badge badge-primary badge-pill">
                        {{ courses | courses(progress=True) }}%
                    </span>
                </span>
            </div>
        </div>
    </div>

    {% if courses | courses(finished=0) > 0 %}
        <div class="row">

            <nav aria-label="..." class="col-md-12 m-auto">
                
                <ul class="pagination d-flex justify-content-center mr-4">
                    {% set next = current_page + 1 %}
                    {% set previous = current_page - 1  %}
                    
                    {% if subjects_user.page == 1 %}
                        <li class="page-item disabled">
                            <a class="page-link" href=" {{url_for('users.subjects', page=previous)}} " tabindex="-1">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href=" {{url_for('users.subjects', page=previous)}} " tabindex="-1">Previous</a>
                        </li>
                    {% endif %}
                    {% for page in subjects_user.iter_pages() %}
                        {% if page %}
                            
                            {% if page != subjects_user.page %}
                                
                                <li class="page-item">
                                    <a href=" {{url_for('users.subjects', page=page)}} "
                                        class="page-link">
                                        {{page}}
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item active">
                                    <a href="{{url_for('users.subjects', page=page)}}"
                                        class="page-link">
                                        {{page}}
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            <span class="ellipsis">....</span>
                        {% endif %}
                    {% endfor %}
                    {% if subjects_user.page == total_pages %}
                        <li class="page-item disabled">
                            <a class="page-link" href=" {{url_for('users.subjects', page=next)}} ">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href=" {{url_for('users.subjects', page=next)}} ">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock  %}