{% extends 'base.html' %} {% from 'macro.html' import Form_off_label, navbar %}
{% block content %}
	{# navbar to teachers #}
	{# {{ navbar(name="Agregar", holder="Buscar Profesores", title="Agregar Profesor/a", modal_id="#staticBackdrop") }} #}

	{# alerts #}
	{% include 'messages.html' %}

	{# modal for create teachers #}
	{% include "forms/teacher_form.html.j2" %}

	<div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">

                <ol class="breadcrumb" aria-label="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/subjects">Asignaturas({{ subjects | subjects(1) }})</a>
                    </li>
                                    
                    <li class="breadcrumb-item active">
                        Asingnar Profesores
                    </li>

                    <li class="breadcrumb-item">
                        <a href="/subjects/teachers" class="">
                            Profesores({{ teacher | teachers(1) }})
                        </a>
                    </li>
                </ol>

                <div class="row m-auto" style="height: 60vh;">
                	<div class="col-md-6 m-auto">
		                <form action=" {{url_for('auth.assing_teacher', id=edit_data.id)}} " method="POST" class="card card-body">
		                    {{ form.hidden_tag() }}
		                    <div class="form-group">
		                        {{ Form_off_label(form.subjects.label) }} 
		                        {{ Form_off_label(form.subjects, class="form-control form-control-lg", value=edit_data.name) }}
		                    </div>

		                    <div class="form-group">
		                        {{ Form_off_label(form.profe.label) }} 
		                        {{ Form_off_label(form.profe, class="form-control form-control-lg") }}
		                    </div>

		                    <div class="text-center form-group">
		                        {{ Form_off_label(form.submit, class="btn btn-primary btn-lg", value="Asignar") }}
		                    </div>
		                </form>
		            </div>
	            </div>
            </div>
        </div>
    </div>
{% endblock %}