{% extends 'base.html' %} {% block content %}

	<div class="container-fluid">
		
		<div class="row justify-content-md-between mt-3 ml-1" style="height: 83vh">
			{# main content #}
			<div class="col-md-9 card-container">

				<div class="row justify-content-md-start mr-2">
					<div class="card col-md-12 mb-3" style="height: 18em;">
						<div class="card-body">
							<figure class="figure">
								{{ name | generate_avatar(size=300, class='card-img-top') }}
								<h3 class="card-text">
									<h3 class="text-center"> {{ name }} </h3>
								</h3>
							</figure>
						</div>
					</div>
				</div>

				<div class="row justify-content-md-start" id="card">
					{% if assignments | length > 0 %}
						{% for i in range(course_id | tasks(this=True, done=find)) %}

							{% if assignments[i].done == 0 %}
								{% set color = "border-primary" %}
							{% else %}
								{% set color = "border-success" %}
							{% endif %}

							{% set dato = [
								assignments[i].id, 
								assignments[i].name,
								assignments[i].course,
								assignments[i].assigned_in,
								assignments[i].delivery_day] 
							%}

							<div class="card mx-2 card-row mb-5 {{color}}">
								<figure>
									{{ assignments[i].name | generate_avatar(size=300,
										class='card-img-top') }}
								</figure>
								<div class="card-body text-center">
									<h5 class="card-title">
										{{ assignments[i].name }}
										<a href="" title="Editar"
                                            data-toggle="modal" 
                                            data-target="#editTaskModal">
                                            <img src="{{url_for('static',filename='icons-svg/icons/pen.svg')}}" 
                                          style="width: 1rem;">
                                        </a>
									</h5>
									<p class="card-text">
										<input type="text" class="d-none fecha" id="dia-entrega"
										 value="{{ assignments[i].delivery_day }}">
										<span id="date"> </span>
									</p>
									<a href=" {{ url_for('users.details_task', id=assignments[i].id) }} " 
                                      class="mx-auto" title="Ir">
                                        <img src="{{ url_for('static',filename='icons-svg/icons/arrow-right-circle.svg') }}" style="width: 2rem;">
                                    </a>
								</div>
							</div>
						{% endfor %}
					{% else %}
						<img src="{{ url_for('static',filename='images/undraw/undraw_empty.svg') }}" 
						alt="Empty space" class="img-empty m-auto">
					{% endif %}
				</div>
			</div>
			{# sidebar right #}
			<div class="list-group col-md-3 d-none d-sm-inline-block" id="list-ta" role="tablist">

				<button type="button" class="btn btn-secondary btn-block mb-3"
	              data-toggle="modal" data-target="#staticBackdrop">
	                Neuva Tarea
	            </button>

			  	<a class="list-group-item list-group-item-action d-flex justify-content-between 
                    align-items-cente" href="?tasks=all" >
					Todas las tereas
					<span class="badge badge-primary badge-pill">
                        {{ course_id | tasks(this=True, done='both') }}
                    </span>
				</a>
				<a class="list-group-item list-group-item-action d-flex justify-content-between 
                    align-items-cente" href="?tasks=pending">
					Tareas pendientes
					<span class="badge badge-primary badge-pill">
                        {{ course_id | tasks(this=True, done=False) }}
                    </span>
				</a>
				<a class="list-group-item list-group-item-action d-flex justify-content-between 
                    align-items-cente" href="?tasks=finished">
					Tarea completadas
					<span class="badge badge-primary badge-pill">
                        {{ course_id | tasks(this=True, done=True) }}
                    </span>
				</a>
				<p class="list-group-item ist-group-item-action d-flex justify-content-between 
                    align-items-cente" aria-controls="progress">
					Progreso
					<span class="badge badge-primary badge-pill">
                        {{ course_id | tasks(this=True, progress=True) }}%
                    </span>
				</p>

				<div class="btn-group mt-3 btn-block" role="group" aria-label="Course config">
					<button type="button" class="btn btn-secondary btn-delete" title="Eliminar">
	                    <img src="{{ url_for('static',filename='icons-svg/icons/trash.svg') }}" alt="">
	                </button>
					<button type="button" class="btn btn-secondary"
	                  data-toggle="modal" data-target="#editSubject">
	                    Editar este curso
	                </button>
	                <button type="button" class="btn btn-secondary"
	                  data-toggle="modal" data-target="#qualification" title="Marcar como cursada"
	                    onclick="editCourse(course_id)">
	                    <img src="{{url_for('static',filename='icons-svg/icons/check2.svg')}}" alt="Editar">
	                </button>
	            </div>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	<li class="nav-item">
		<a href="" title="" class="nav-link">
			<img src="{{ url_for('static',filename='icons-svg/icons/') }}" alt="">
			
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/" title="Home">
			<img src=" {{ url_for('static',filename='icons-svg/icons/house.svg') }} " alt="Search" class="nav-icon">
			
		</a>
	</li>

	<li class="nav-item dropdown no-arrow mx-1 d-none d-sm-inline-block">
		<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<img src=" {{ url_for('static',filename='icons-svg/icons/columns-gap.svg') }} " alt="Courses" class="nav-icon">
			<!-- Courses -->
			<span class="badge badge-danger badge-counter"></span>
		</a>
		<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
			<h6 class="dropdown-header"> Mis cursos </h6>
			{% if courses | courses(finished=0) > 0 %}
				{% set pagination = (1 | paginate_courses(0) ) %}
				{% for course in pagination.items %}
					<a class="dropdown-item d-flex align-items-center"
						href="{{ url_for('users.courses',id=course.id) }}">
						<div class="mr-3">
							<div class="icon-circle bg-primary">
								{{ course.name | generate_avatar(size=300,
								class='card-img-top rounded-circle') }}
							</div>
						</div>
						<div>
							<div class="small text-gray-500"> {{ course.teacher }} </div>
							<span class="font-weight-bold">
								{{ course.name }}
							</span>
						</div>
					</a>
				{% endfor %}
				<a class="dropdown-item text-center small text-gray-500" href="#">
					Ver todos los cursos
				</a>
			{% else %}
				<a href="/courses" title="">Ningun curso agregardo</a>
			{% endif %}
		</div>
	</li>
{% endblock %}