{% extends "base.html" %} {% block content %}

    {# body of the page #}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <ol class="breadcrumb mr-4 ml-4" aria-label="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/courses">Cursos({{ courses | courses(0) }})</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cursadas({{ courses | courses(1) }})
                    </li>
                </ol>

                {# tabel #}
                {% if (counter | courses(0)) > 0 %}
                    <div class="row mr-4 ml-4">
                        
                        <div class="table-responsive">
                            <table class="table table-striped table-borderless table-hover model-list bg-white rounded-lg" id="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-primary column-header cursor">Asignatura</th>
                                        <th class="text-primary column-header cursor">Profesor</th>
                                        <th class="text-primary column-header cursor">Calificación</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for i in range(courses | courses(1)) %}
                                        {% set dato = [subjects_user[i].name, subjects_user[i].id] %}
                                        <tr>
                                            <td>
                                                <a href="{{ url_for('auth.delete_subjects', id=subjects_user[i].id) }}" title="Eliminar" class="btn btn-delete shadow-none btn-outlie text-danger my-sm-0">
                                                    <span title="Eliminar" class="fa fa-trash glyphicon glyphicon-trash"></span>
                                                </a>
                                            </td>
                                            <td> {{ subjects_user[i].name }} </td>
                                            <td>
                                                {% if subjects_user[i].profesor != None %}
                                                    {{ subjects_user[i].profesor }}
                                                {% else %}
                                                    Sin Asignar
                                                {% endif %}
                                            </td>
                                            <td class="notranslate">
                                                {% if subjects_user[i].qualification in ['A', 'B', 'C', 'D', 'F'] %}
                                                    {{ subjects_user[i].qualification }}
                                                {% else %}
                                                    <a href=""onclick='qualification({{ dato | tojson }})'
                                                     data-toggle="modal" data-target="#qualification">
                                                        Agregar calificación
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}