{% extends 'base.html' %} {% block content %}
	{% from 'macro.html' import Form_off_label, navbar %}
	
	{# menu de navegacion #}
	{{
	navbar(name="Agregar",
	holder="Agregar asignatura",
	title="Agregar asignaturas",
	modal_id="#exampleModalCenter")
	}}
	{# Alerts#}
	{% include 'messages.html' %}
	{# modal to add new teacher #}
	{% include "forms/teacher_form.html.j2" %}
	{# Modal to add new subject #}
	{% include "forms/form_subjects.html.j2" %}
	{# modal to edit subjects #}
	{% include "forms/edit/subjects.html.j2" %}
	{# modal to assing teachers #}
	{% include "forms/edit/assing_teachers.html.j2" %}
	
	<div class="row">
	
		<div class="col-9 d-flex">
			{% if course.task %}
				{% for i in range(tasks | tasks(0) ) %}
					<div class="card card-row ml-3" style="width: 14rem; max-height: 18rem">
						<figure>
							{{ assignments[i].name | generate_avatar(size=300,
			                                                      class='card-img-top') }}
						</figure>
						<div class="card-body text-center">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the </p>
							<a href="#" class="btn btn-primary mx-auto">Go somewhere</a>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<span>No tiene tareas pendientes</span>
			{% endif %}
		</div>

		{# side bar menu #}
		<div class="col-3">

			{# <div class="card-header bg-white border border-white">
				<h3 class="m-auto">
					<h3 class="text-center"> {{ course.name }}</h3>
				</h3>
			</div>
 #}			<div class="list-group mr-3 bg-white" id="list-ta" role="tablist">
				<a class="list-group-item list-group-item-action active" 
				 id="list-home-list" data-toggle="list"
				 href="#list-home" role="tab" 
				 aria-controls="home">
				 	Tareas pendientes
				</a>

				<a class="list-group-item list-group-item-action" 
				 id="list-profile-list" data-toggle="list" 
				 href="#list-profile" role="tab" 
				 aria-controls="profile">
					Tarea completadas
				</a>

				<a class="list-group-item list-group-item-action" 
				 id="list-messages-list" data-toggle="list" 
				 href="#list-messages" role="tab" 
				 aria-controls="messages">
					Messages
				</a>

				<a class="list-group-item list-group-item-action"
				 id="list-settings-list" data-toggle="list" 
				 href="#list-settings" role="tab" 
				 aria-controls="settings">
					Settings
				</a>
			</div>
		</div>
	</div>
{% endblock %}