{% extends "base.html" %}
{% block content %}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid ">

            <div class="row m-auto margenes">

                <div class="table-responsive">

                    <table class="table table-striped table-bordered table-hover model-list bg-white rounded-lg" 
                        id="table">

                        <tbody>
                            <tr>
                                <th>Nombre</th>
                                <td class="col-md-7">{{ details.name }}</td>
                            </tr>
                            <tr>
                                <th>Asignatura</th>
                                <td class="col-md-7">{{ details.detalle[0].materia }}</td>
                            </tr>
                            <tr>
                                <th>Fecha de Asignación</th>
                                <td class="col-md-7">{{ details.detalle[0].asignada_en }}</td>
                            </tr>
                                                        <tr>
                                <th>Fecha de Entrega</th>
                                <td class="col-md-7">{{ details.detalle[0].dia_endrega }}</td>
                            </tr>
                            <tr>
                                <th>Comentario</th>
                                <td class="col-md-7">{{ details.detalle[0].comentario }}</td>
                            </tr>
                            <tr>
                                <th>Realizada en</th>
                                <td class="col-md-7">
                                    {% if details.detalle[0].realizada_en == None %}
                                        Aun no a completado la tarea
                                    {% else %}
                                        {{ details.detalle[0].realizada_en }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td class="col-md-7">
                                    {% if details.detalle[0].dia_endrega < hoy %}
                                            Fuera de la Fecha de Entrega
                                        {% elif details.detalle[0].dia_endrega > hoy %}
                                            Por Entrega
                                        {% elif details.detalle[0].dia_endrega == hoy %}
                                            Pendiente para Entregar Hoy
                                        {% else %}
                                            Entregada
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}