{% extends "base.html" %} {% from 'macro.html' import Form_off_label %}
{% block content %}
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid ">
            {% include 'messages.html' %}
            <div class="row mx-auto">
                <div id="staticBackdrop" class="modal fade hide in" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="False">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h3>
                                    <h3 style="color: white;">Nueva Tarea</h3>
                                </h3>
                                <a href="/tasks" class="btn btn-circle" data-dissmis="modal" style="color: white;">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>

                            <div class=" modal-body ">
                                {% include 'forms/task_form.html.j2' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="nav nav-tab">

                <li class="nav-item">
                    <a href="/tasks"  style="color: #858796;" class="nav-link">Tareas({{ num_task }})</a>
                </li>

                <li class="nav-item">
                    <a href="" style="color: #858796;" class="nav-link">Detalles</a>
                </li>

                <li class="nav-item">
                    <a href="" style="color: #858796;" class="nav-link" data-toggle="modal" data-target="#staticBackdrop">
                       <p>Crear</p>
                    </a>
                </li>
            </ul>

            <div class="row">

                <div class="col-xl-8 col-lg-7">

                    <div class="card shadow mb-4">

                        <div class="card-body">
                            <div class="chart-area">
                                <div class="text-xs text-primary text-center font-weight-bold text-segundary text-uppercase mb-1">
                                    <p class="h5">{{details.name}} </p>
                                </div>

                                 <hr class="sidebar-divider">

                                <div class="mb-4 font-weight-bold">
                                    <p style="color: #000;">Asignatura: <span  style="color: #858796;">{{ details.detalle[0].materia }}</span></p>

                                    <p style="color: #000;">Fecha de Asignación: <span  style="color: #858796;">{{ details.detalle[0].asignada_en }}</span></p>

                                    <p style="color: #000;">Fecha de Entrega: <span  style="color: #858796;">{{ details.detalle[0].dia_endrega }}</span></p>

                                    <p style="color: #000;">Comentario: <span  style="color: #858796;">{{ details.detalle[0].comentario }}</span></p>

                                    {% if details.detalle[0].dia_endrega < hoy %}
                                        <p style="color: #000;">Estado: <span  style="color: #858796;">Fuera de la Fecha de Entrega</span></p>
                                    {% elif details.detalle[0].dia_endrega > hoy %}
                                        <p style="color: #000;">Estado: <span  style="color: #858796;">Por Entrega</span></p>
                                    {% elif details.detalle[0].dia_endrega == hoy %}
                                        <p style="color: #000;">Estado: <span  style="color: #858796;">Pendiente para Entregar Hoy</span></p>
                                    {% else %}
                                        <p style="color: #000;">Estado: <span  style="color: #858796;">Entregada</span></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
