{% extends 'base.html' %} {% from 'macro.html' import Form %}
{% block content %}

<div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                {% for i in range(num_event) %}
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            <h6> {{ event_user[i].name }} </h6>
                                        </div>

                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                           {{ event_user[i].detalle[0].dia }}
                                        </div>
                                    </div>
                                    <div class="col-auto dropdown no-arrow mx-1">
                                        <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
											<i class="fas fa-arrow-down"></i>
											<!-- Counter - Alerts -->
											<span class="badge badge-danger badge-counter"></span>
										</a>
                                    </div>
                                    	<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
										    <div class="bg-white py-2 collapse-inner rounded">
										        <h6 class="collapse-header">Login Screens:</h6>
										        <a class="collapse-item" href="login.html">Login</a>
										        <a class="collapse-item" href="register.html">Register</a>
										        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
										        <div class="collapse-divider"></div>
										        <h6 class="collapse-header">Other Pages:</h6>
										        <a class="collapse-item" href="404.html">404 Page</a>
										        <a class="collapse-item" href="blank.html">Blank Page</a>
										    </div>
										</div>
                                </div>
                            </div>
                        </div> 
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
