{% extends 'base.html' %} {% from 'macro.html' import Form, Form_off_label %} 
{% block content %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                {# {% include 'messages.html' %}
                <!-- modal for register new events -->
                <div id="staticBackdrop" class="modal fade hide in" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="False">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-gradient-primary">
                                <h3>
                                    <h3 style="color: white;">New Event</h3>
                                </h3>
                                <a href="/events" class="btn btn-circle" data-dissmis="modal" style="color: white;">X</a>
                            </div>

                            <div class=" modal-body ">
                                <form action="{{ url_for( 'auth.register_event') }} " method="POST " class="admin-form form-horizontal ">
                                    <fieldset>
                                        <div class="control-group ">
                                            <div class="control-label ">
                                                <label for="name ">Nombre 
                                                    <strong style="color: red; ">*</strong>
                                                </label>
                                            </div>
                                            <div class="controls ">
                                                <div class="from-control ">
                                                    {{ Form_off_label(event_form.name, class='form-control') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="control-group ">
                                            <div class="control-label ">
                                                <label for="lugar ">Lugar 
                                                    <strong style="color: red; ">*</strong>
                                                </label>
                                            </div>
                                            <div class="controls ">
                                                <div class="from-control ">
                                                    {{ Form_off_label(event_form.lugar, class='form-control') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="control-group ">
                                            <div class="control-label ">
                                                <label for="dia ">Dia 
                                                    <strong style="color: red; ">*</strong>
                                                </label>
                                            </div>
                                            <div class="controls ">
                                                <div class="from-control ">
                                                    {{ Form_off_label(event_form.dia, class='form-control') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="control-group ">
                                            <div class="control-label ">
                                                <label for="hora_inicio ">Hora de inicio 
                                                    <strong style="color: red; ">*</strong>
                                                </label>
                                            </div>
                                            <div class="controls ">
                                                <div class="from-control ">
                                                    {{ Form_off_label(event_form.hora_inicio, class='form-control') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="control-group ">
                                            <div class="control-label ">
                                                <label for="hora_fin ">Hora limite 
                                                    <strong style="color: red; ">*</strong>
                                                </label>
                                            </div>
                                            <div class="controls ">
                                                <div class="from-control ">
                                                    {{ Form_off_label(event_form.hora_fin, class='form-control') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="control-group ">
                                            <div class="control-label ">
                                                <label for="nota ">Nota</label>
                                            </div>
                                            <div class="controls ">
                                                <div class="from-control ">
                                                    {{ Form_off_label(event_form.nota, class='form-control') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <div class="controls ">
                                                {{ Form_off_label(event_form.submit, class='btn btn-primary', value='Guardar') }}
                                                <a href="/events " class="btn btn-danger " data-dissmis="modal ">Cancelar</a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 auto">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="chart-area">
                                
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a href="/subjects/" class="nav-link">Eventos({{ num_subjects }}) </a>
                                    </li>
                                                
                                    <li class="nav-item">
                                        <a href="/subjects/finished" class="nav-link">
                                            Cursadas(0)
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/subjects/teachers" class="nav-link active">
                                            Profesores({{ 3 }})
                                        </a>
                                    </li>
                                </ul>

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered model-list p-3 mb-5 bg-white rounded my-table" id="mytable">
                                        <thead>
                                            <tr>
                                                <th class="text-primary column-header">Domingo</th>
                                                <th class="text-primary column-header">Lunes</th>
                                                <th class="text-primary column-header">Martes</th>
                                                <th class="text-primary column-header">Miercoles</th>
                                                <th class="text-primary column-header">Jueves</th>
                                                <th class="text-primary column-header">Viernes</th>
                                                <th class="text-primary column-header">Sabado</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>
                                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                    Dolorem quibusdam.
                                                </td>
                                                <th>Nada</th>
                                                <th>Nada</th>
                                                <th>Nada</th>
                                                <th>Nada</th>
                                                <th>Nada</th>
                                                <th>Nada</th>
                                            </tr>
                                        </tbody>
                                    </table> #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}