{% extends 'base.html' %} {% block content %} {% from 'macro.html' import Form_off_label, Form %}

<div class="d-flex flex-column">
    <div class="container">
        <div class="row">
            <div class="row card-header shadow col-md-12">
                <div class='col-md-2'>
                    {% if current_user.picture != None %}
                        <img class="rounded-circle img-fluid" src="{{ url_for('static',filename=current_user.picture)}}" width="150px" height="150px" id="img">
                    {% else %}
                        <img clase='rounded-circle img-fluid' src="{{url_for('static',filename='images/default.png')}}" width="150px" height="150px" id="img"> 
                    {% endif %}
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class=" my-3"> {{current_user.first_name}} {{current_user.last_name}} </h3>
                            <a href="#"> <p> {{current_user.email}} </p> </a>
                            {# <p> {{current_user.gender}} </p> #}
                            <p> {{current_user.phone_number}} </p>
                        </div>
                    </div>
                </div>
            </div>

            {# <div class=col-md-8>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <form action="/uploads" method="post" enctype="multipart/form-data">
                                {{ upload_form.hidden_tag() }}
                                <div class="form-group container-fluid">
                                    <img src=" {{ url_for('static',filename='images/camera-icon.png') }} " alt=""> 
                                    <div class='input-file'>
                                        {{ Form_off_label(upload_form.picture, id="file", onchange="mostrar()") }}
                                    </div
                                    <img class="col-xl-10 card-img" id="img" />
                                </div>

                                <div class="">
                                    {{ Form_off_label(upload_form.submit, value='Subir', class='btn btn-primary') }}
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> #}
        </div>
    </div>
</div>

{% endblock %}