{% extends 'base.html' %} {% from 'macro.html' import Form_off_label, Form, navbar %}
{% block content %}

    {# navbar to study plan #}
    {{ navbar(name="Agregar", holder="Buscar plan de estudio", title="Agregar plan de estudio", modal_id="#exampleModal") }}

    <div id="content-wrapper" class="d-flex flex-column">
        <div class="content">
            <div class="container-fluid">
                <!-- modal to details of the studies plan -->
                {% include 'forms/stady_plan_form.html.j2' %}


                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        Actividades(0)
                    </li>
                                    
                    <li class="breadcrumb-item">
                        <a href="/subjects/finished" class="">
                            Objetivos completados(0)
                        </a>
                    </li>
                </ol>

                {% if num_plan > 0 %}
                <div class="row m-auto margenes">
                    
                    <div class="table-responsive">
                        {% include 'messages.html' %}
                            
                        <table class="table table-striped table-borderless table-hover model-list bg-white rounded-lg" id="table">
                            
                            <thead class="bordes">
                                <tr>
                                    <th></th>
                                    <th class="text-primary column-header cursor" onclick="sortTable(0)">Titulo</th>
                                    <th class="text-primary column-header cursor" onclick="sortTable(1)">Dia</th>
                                    <th class="text-primary column-header cursor" onclick="sortTable(2)">Hora de Inicio</th>
                                    <th></th>
                                </tr>
                            </thead>
                                    
                            <tbody>
                                {% for i in range(num_plan)  %}
                                    <tr>
                                        <td class="list-buttons-column">
                                            <a href="{{ url_for('auth.edit', id=stady_plan[i].id) }}" class="btn shadow-none btn-outlne text-info my-sm-0">
                                                <span title="Editar" class="fas fa-pencil-alt glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <a href=" {{ url_for('auth.delete', id=stady_plan[i].id) }} " class="btn btn-delete shadow-none btn-outlie text-danger my-sm-0">
                                                <span title="Eliminar" class="fa fa-trash glyphicon glyphicon-trash"></span>
                                            </a>
                                        </td>
                                        <td> {{ stady_plan[i].name }} </td>
                                        <td>
                                            {% if stady_plan[i].detalle | length > 0 %}
                                                {{ stady_plan[i].detalle[0] }}
                                            {% else %}
                                                <a href="" class=" cursor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    Asignar
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a href="#" data-toggle="modal" data-target="#staticBackdrop" class="dropdown-item cursor">Nuevo</a>
                                                    <a href="#" data-toggle="modal" data-target="#assingTeacher" class="dropdown-item dropright cursor" >Existente</a>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="#" class="btn-outline btn-lg text-success my-2 my-ms-0">
                                                <span title="Marcar como cursada" class="fas fa-check glyphicon glyphicon-check"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}