{% extends "base.html" %}{% block content %}
{% from 'macro.html' import Form_off_label, navbar %}
    
    {# menu de navegacion #}
    {{  
        navbar(name="Agregar",
        holder="Agregar asignatura", 
        title="Agregar asignaturas", 
        modal_id="#exampleModalCenter")
    }}

    {# Alerts#}
    {% include 'messages.html' %}

    {# modal to add new teacher #}
    {% include "forms/teacher_form.html.j2" %}

    {# Modal to add new subject #}
    {% include "forms/form_subjects.html.j2" %}

    {# modal to edit subjects #}
    {% include "forms/edit/subjects.html.j2" %}

    {# modal to assing teachers #}
    {% include "forms/edit/assing_teachers.html.j2" %}

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">

               {#  <ol class="breadcrumb" aria-label="breadcrumb">
                    <li class="breadcrumb-item active">
                        Asignaturas({{ subject | subjects(1) }})
                    </li>
                                    
                    <li class="breadcrumb-item">
                        <a href="/subjects/finished" class="">
                            Cursadas({{ subject | subjects(0) }})
                        </a>
                    </li>

                    <li class="breadcrumb-item">
                        <a href="/subjects/teachers" class="">
                            Profesores({{ tecaher | teachers(1) }})
                        </a>
                    </li>
                </ol> #}

                {# {% if subject | subjects(1) > 0 %} #}
                    <div class="row m-auto">

                        <div class="row m-auto col-md-12">
                            {% for i in range(subject | subjects(1)) %}
                                <div class="card mx-3 my-2" style="width: 14rem;">
                                  <img src="{{ url_for('static',filename='images/desktop.jpeg') }}" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title"> {{subjects_user[i].name}} </h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                  </div>
                                </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                {# {% endif %} #}
            </div>
        </div>
    </div>
{% endblock  %}