{% extends "base.html" %}{% block content %}
{% from 'macro.html' import Form_off_label, navbar %}
    
    {# menu de navegacion #}
    {{ navbar(name="Agregar", holder="Agregar asignatura", title="Agregar asignaturas", modal_id="#exampleModalCenter") }}

    {# Alerts#}
    {% include 'messages.html' %}

    {# modal to add new teacher #}
    {% include "forms/teacher_form.html.j2" %}

    {# Modal to add new subject #}
    {% include "forms/form_subjects.html.j2" %}

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">

                <ol class="breadcrumb" aria-label="breadcrumb">
                    <li class="breadcrumb-item active">
                        Asignaturas({{ num_subjects }})
                    </li>
                                    
                    <li class="breadcrumb-item">
                        <a href="/subjects/finished" class="">
                            Cursadas({{ num_completed }})
                        </a>
                    </li>

                    <li class="breadcrumb-item">
                        <a href="/subjects/teachers" class="">
                            Profesores({{ num_teacher }})
                        </a>
                    </li>
                </ol>

                {% if num_subjects > 0 %}
                    <div class="row m-auto">
                        
                        <div class="table-responsive">
                                
                            <table class="table table-striped table-borderless table-hover model-list bg-white rounded-lg" id="mytable">
                                
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-primary column-header cursor" onclick="sortTable(0)">Asignatura</th>
                                        <th class="text-primary column-header cursor" onclick="sortTable(1)">Profesor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                        
                                <tbody id="table">
                                    {% for i in range(num_subjects)  %}
                                        <tr>
                                            <td class="list-buttons-column">
                                                <a href="{{ url_for('users.edit_subjects', id=subjects_user[i].id) }}" class="btn shadow-none btn-outlne text-info my-sm-0">
                                                    <span title="Editar" class="fas fa-pencil-alt glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a href=" {{ url_for('auth.delete_subjects', id=subjects_user[i].id) }} " class="btn btn-delete shadow-none btn-outlie text-danger my-sm-0">
                                                    <span title="Eliminar" class="fa fa-trash glyphicon glyphicon-trash"></span>
                                                </a>
                                            </td>
                                            <td class="name"> {{ subjects_user[i].name }} </td>
                                            <td>
                                                {% if subjects_user[i].profesor | length > 0 %}
                                                    {{ subjects_user[i].profesor[0] }}
                                                {% else %}
                                                    <a href="" class=" cursor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                        Asignar
                                                    </a>
                                                    <div class="dropdown-menu">
                                                        <a href="#" data-toggle="modal" data-target="#staticBackdrop" class="dropdown-item cursor">Nuevo</a>
                                                        <a href=" {{url_for('users.assing_teachers', id=subjects_user[i].id)}} " class="dropdown-item dropright cursor" >Existente</a>
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href=" {{ url_for('auth.subject_completed', id=subjects_user[i].id) }} " class="btn-outline btn-lg text-success my-ms-0">
                                                    <span title="Marcar como cursada" class="fas fa-check glyphicon glyphicon-check"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock  %}
{% block _scripts %}

<script>
    
    $(document).ready(function() {
        $('#table').pageMe({
            pagerSelector: '#developer_page',
            showPrevNext: true,
            hidePageNumbers: false,
            perPage: 3
        });
    });
</script>
    
{% endblock %}