{% extends "base.html" %} {% block content %} {% from 'macro.html' import Form_off_label, navbar %}
    {# Modal to add new subject #}
    {% include "forms/form_subjects.html.j2" %}
    
    {# button to create and imput search #}
    {{ navbar(name="Agregar", holder="Buscar Asignaturas cursada", title="Agregar asignaturas", modal_id="#exampleModalCenter") }}


    {# body of the page #}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <ol class="breadcrumb" aria-label="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/subjects">Asignaturas({{ subject | subjects(1) }})</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cursadas({{ subject | subjects(0) }})
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/subjects/teachers" class="">
                            Profesores({{ subject | teachers(1) }})
                        </a>
                    </li>
                </ol>

                {# tabel #}
                {% if (counter | subjects(0)) > 0 %}
                    <div class="row m-auto">
                        
                        <div class="table-responsive">
                            {% include 'messages.html' %}
                            <table class="table table-striped table-borderless table-hover model-list bg-white rounded-lg" id="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-primary column-header cursor">Asignatura</th>
                                        <th class="text-primary column-header cursor">Profesor</th>
                                        <th class="text-primary column-header cursor">Calificación</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for i in range(subject | subjects(0)) %}
                                        <tr>
                                            <td>
                                                <a href="{{ url_for('auth.delete_subjects', id=subjects_user[i].id) }}" title="Eliminar" class="btn btn-delete shadow-none btn-outlie text-danger my-sm-0">
                                                    <span title="Eliminar" class="fa fa-trash glyphicon glyphicon-trash"></span>
                                                </a>
                                            </td>
                                            <td> {{ subjects_user[i].name }} </td>
                                            <td>
                                                {% if subjects_user[i].profesor | length > 0 %}
                                                    {{ subjects_user[i].profesor[0] }}
                                                {% else %}
                                                    Sin Asignar
                                                {% endif %}
                                            </td>
                                            <td class="notranslate">
                                                {% if subjects_user[i].qualification in ['A', 'B', 'C', 'D', 'F'] %}
                                                    {{ subjects_user[i].qualification }}
                                                {% else %}
                                                    <a href="{{url_for('users.add_qualification', 
                                                    id=subjects_user[i].id)}}">
                                                        Agregar calificación
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}