{% extends 'base.html' %} {% block content %} {% from 'macro.html' import Form, Form_off_label %}

{# Nav for task table #}
<nav class="navbar navbar-light shadow-none">
    <a title="Crear tareas" href="" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop">
        Crear
    </a>
    <form class="form-inline">
        <input type="search" class="form-control" id="search" placeholder="Buscar Tareas" aria-label="Search" onkeyup="myFunction()" size='40'>
    </form>
</nav>

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            {% include 'messages.html' %}
            <div class="row">
                <div id="staticBackdrop" class="modal fade hide in" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="False">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h3 class="m-auto">
                                    <h3 class="m-auto text-white">Nueva Tarea</h3>
                                </h3>
                                <button type="button" class="close btn btn-sm text-white" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class=" modal-body ">
                                {% include "forms/task_form.html.j2" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    Tareas({{ num_task }})
                </li>

                <li class="breadcrumb-item">
                    <a href=""> Realizadas(0)</a>
                </li>
            </ol>

            {# visualize each task #}
            {% if num_task > 0 %}
                <div class="row m-auto>
                    <div class="table-responsive">

                        <table class="table table-striped table-borderless table-hover model-list bg-white rounded-lg" id="mytable">

                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-primary column-header cursor" onclick="sortTable(0)">Nombre de la Tarea</th>
                                    <th class="text-primary column-header cursor" onclick="sortTable(1)">Asignatura</th>
                                    <th class="text-primary column-header cursor" onclick="sortTable(2)">Fecha de Entrega</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for i in range(num_task) %} {% if task_user[i].estado == true %}
                                <tr>
                                    <td class="list-buttons-column">
                                        <div class="col-auto">
                                            <a href="{{url_for('users.edit_tasks', id=task_user[i].id)}}" class="btn shadow-none btn-outlne text-info my-sm-0">
                                                <span title="Editar" class="fas fa-pencil-alt glyphicon glyphicon-pencil"></span>
                                            </a>

                                            <a href=" {{url_for('auth.delete_tasks', id=task_user[i].id)}} " class="btn btn-delete shadow-none text-outlie text-danger my-sm-0">
                                                <span title="Eliminar" class="fa fa-trash glyphicon glyphicon-trash "></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a id="valor" href=" {{url_for('users.details_task', id=task_user[i].id)}} " style="cursor: pointer;">{{task_user[i].name}}</a>
                                    </td>
                                    <td>{{task_user[i].detalle[0].materia['name'] }}</td>
                                    <td>{{task_user[i].detalle[0].dia_endrega}}</td>
                                    <td>
                                        <a href="#" class="btn-outline btn-lg text-success my-ms-0">
                                            <span title="Marcar como realizada" class="fas fa-check glyphicon glyphicon-check"></span>
                                        </a>
                                    </td>
                                </tr>
                                {% endif %} {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}