{% extends 'base.html' %} {% block content %} {% from 'macro.html' import Form, Form_off_label %}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            {% include 'messages.html' %}
            <div class="row col-md-12">
                <div class="row">
                    <h2>My Tasks </h2>
                
                    <div class="col-md-3 col-float-left" title="Agregar nueva tarea">
                        <button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#staticBackdrop">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="staticBackdrop" class="modal fade hide in" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="False">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h3>
                                    <h3 style="color: white;">Nueva Tarea</h3>
                                </h3>
                                <a href="/tasks" class="btn btn-circle" data-dissmis="modal" style="color: white;">X</a>
                            </div>

                            <div class=" modal-body ">
                                <form action="{{ url_for( 'auth.register_task') }}" method="POST">
                                    {{ task_form.hidden_tag() }}
                
                                    <div class="form-group">
                                        {{ Form_off_label(task_form.name.label) }}
                                        {{ Form_off_label(task_form.name, class="form-control") }}
                                    </div>
                
                                    <div class="form-group">
                                        {{ Form_off_label(task_form.materia.label) }} 
                                        {{ Form_off_label(task_form.materia, class="form-control") }}
                                    </div>
                
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{ Form_off_label(task_form.asignada_en.label) }} 
                                            {{ Form_off_label(task_form.asignada_en, class="form-control") }}
                                        </div>
                
                                        <div class="form-group col-md-6">
                                            {{ Form_off_label(task_form.dia_entrega.label) }} 
                                            {{ Form_off_label(task_form.dia_entrega, class="form-control") }}
                                        </div>
                                    </div>
                
                                    <div class="form-group">
                                        {{ Form_off_label(task_form.nota.label) }} 
                                        {{ Form_off_label(task_form.nota, class="form-control", id="exampleFormControlTextarea1", rows="3") }}
                                    </div>
                
                                    {{Form_off_label(task_form.submit, class="btn btn-primary form-control", value="Guardar")}}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# visualize each task #}
            {% if task_user != [] %}
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Task name</th>
                                <th scope="col">Asignatura</th>
                                <th scope="col">Fecha de asignacion</th>
                                <th scope="col">Fecha de entrega</th>
                                <th scope="col">Nota</th>
                                {# <th scope="col">options</th> #}
                            </tr>
                        </thead>

                        <tbody>
                            {% for i in range(num_task) %}
                                <tr>
                                    <th scope="row">{{task_user[i].name}}</th>
                                    {% for x in range(num_details[i]) %}
                                        <td>{{task_user[i].detalle[x].materia }}</td>
                                        <td>{{task_user[i].detalle[x].asignada_en}}</td>
                                        <td>{{task_user[i].detalle[x].dia_endrega}}</td>
                                        <td>{{task_user[i].detalle[x].comentario}}</td>
                                        <td>
                                            <a href="#">
                                                <span title="Edit" class="fas fa-pencil-alt glyphicon glyphicon-pencil"></span>
                                            </a>

                                            <a href="#">
                                                <span title="Delete" class="fa fa-trash glyphicon glyphicon-trash"></span>
                                            </a>

                                            <a href="#">
                                                <span title="Done" class="fas fa-check glyphicon glyphicon-check"></span>
                                            </a>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}