{% extends 'base.html' %} {% block content %} {% from 'macro.html' import Form, Form_off_label, navbar %}

{# Nav for task table #}
{{ navbar(name="Agregar", holder="Buscar Tareas", title="Agregar tareas", modal_id="#staticBackdrop") }}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            {% include 'messages.html' %}
            
            {% include "forms/task_form.html.j2" %}

            <ol class="breadcrumb mr-4 ml-4">
                <li class="breadcrumb-item active">
                    Tareas( {{ Tarea | tasks(1) }} )
                </li>

                <li class="breadcrumb-item">
                    <a href=" {{url_for('users.task_finished')}} "> Realizadas({{ realizadas | tasks(0) }})</a>
                </li>
            </ol>

            {# visualize each task #}
            {% if ( Tarea | tasks(0)) > 0 %}
                <div class="row">
                    <div class="row m-auto col-md-12">
                        {% for i in range(tareas | tasks(0) ) %}
                            <div class="mr-2">

                                <div class="card m-3 card-row" style="width: 14rem; height: 16rem">

                                    <figure>
                                        
                                        <img src="{{ url_for('static',filename='images/tasks-check.jpg') }}" class="card-img-top" alt="...">

                                        <div class="text-img">
                                            <h5>Comentario</h5>
                                            {% if task_user[i].comment %}
                                                <span href="#" title="Tarea pendiente">
                                                    {{ task_user[i].comment }}
                                                </span>
                                            {% else %}
                                                <span> 
                                                    Sin comentarios
                                                </span>
                                            {% endif %}
                                            </div>
                                    </figure>

                                    <div class="card-body card-row-body">

                                        <div class="content-card-body">

                                            <h5 class="card-title m-auto">
                                                {{ task_user[i].name }}
                                            </h5>

                                            {% if task_user[i].course != None %}
                                                <p class="card-text">
                                                    {{ task_user[i].course }}
                                                </p>
                                            {% else %}
                                                <p class="card-text">
                                                    Esta tarea no esta asociada a un curso
                                                </p>
                                            {% endif %}

                                            <p> {{ task_user[i].delivery_day }} </p>
                                        </div>

                                        <div class="icon float-right dropdown no-arrow" title="opciones">

                                            <a class="dropdown-toggle" role="button" id="dropdownMenuLink"
                                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h fa-lg"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-right" 
                                             aria-labelledby="dropdownMenuLink">
                                                
                                                <a class="dropdown-item" 
                                                    href="{{url_for('users.details_task', id=task_user[i].id)}}" 
                                                     title="Ver detalles">
                                                    <i class="fas fa-clipboard-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                                        Ver detalles
                                                </a>
                                                <a class="dropdown-item" href="#" title="Editar">
                                                    <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    Editar
                                                </a>
                                                <a class="dropdown-item btn-delete" title="Eliminar" 
                                                     href="{{url_for('auth.delete_tasks', id=task_user[i].id)}}">
                                                    <i class="fas fa-trash fa-sm fa-fw mr-2 text-gray-400"></i>
                                                    Eliminar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}