{% extends 'base.html' %} {% block content %} {% from 'macro.html' import Form, Form_off_label, navbar %}

{# Nav for task table #}
{{ navbar(name="Agregar", holder="Buscar Tareas", title="Agregar tareas", modal_id="#staticBackdrop") }}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            {% include 'messages.html' %}
            
            {% include "forms/task_form.html.j2" %}

            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    Tareas({{ num_task }})
                </li>

                <li class="breadcrumb-item">
                    <a href=""> Realizadas(0)</a>
                </li>
            </ol>

            {# visualize each task #}
            {% if num_task > 0 %}
                <div class="row m-auto">
                    <div class="table-responsive">

                        <table class="table table-striped table-borderless table-hover model-list bg-white rounded-lg" id="table">

                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-primary column-header cursor" onclick="sortTable(0)">Nombre de la Tarea</th>
                                    <th class="text-primary column-header cursor" onclick="sortTable(1)">Asignatura</th>
                                    <th class="text-primary column-header cursor" onclick="sortTable(2)">Fecha de Entrega</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for i in range(num_task) %} {% if task_user[i].estado == true %}
                                <tr>
                                    <td class="list-buttons-column">
                                        <div class="col-auto">
                                            <a href="{{url_for('users.edit_tasks', id=task_user[i].id)}}" class="btn shadow-none btn-outlne text-info my-sm-0">
                                                <span title="Editar" class="fas fa-pencil-alt glyphicon glyphicon-pencil"></span>
                                            </a>

                                            <a href=" {{url_for('auth.delete_tasks', id=task_user[i].id)}} " class="btn btn-delete shadow-none text-outlie text-danger my-sm-0">
                                                <span title="Eliminar" class="fa fa-trash glyphicon glyphicon-trash "></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a id="valor" href=" {{url_for('users.details_task', id=task_user[i].id)}} " style="cursor: pointer;">{{task_user[i].name}}</a>
                                    </td>
                                    <td>{{task_user[i].detalle[0].materia['name'] }}</td>
                                    <td>{{task_user[i].detalle[0].dia_endrega}}</td>
                                    <td>
                                        <a href="#" class="btn-outline btn-lg text-success my-ms-0">
                                            <span title="Marcar como realizada" class="fas fa-check glyphicon glyphicon-check"></span>
                                        </a>
                                    </td>
                                </tr>
                                {% endif %} {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}