{% extends 'base.html' %} {% block content %}

<div id="content-wrapper" class="d-flex flex-column">
    <div class="container-fluid">
        <div class="row">
            <form action="{{ url_for('auth.register_task') }}" method="post">
                <div class="form-row">
                    <div class="col-7">
                        <input type="text" name="name" id="name" class="form-control " placeholder="Name">
                    </div>

                    <div class="col">
                        <input type="submit" value="Crear" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}