{% extends "base.html" %}{% block content %}
{% from 'macro.html' import Form_off_label, navbar %}
    
    {# navbar to teachers #}
    {{ navbar(name="Agregar", holder="Buscar Profesores", title="Agregar Profesor/a", modal_id="#staticBackdrop") }}

    {# alerts #}
    {% include 'messages.html' %}

    {# modal to create new teachers #}
    {% include "forms/teacher_form.html.j2" %}

    {# modal to edit teachers #}
    {% include "forms/edit/teachers.html.j2" %}

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">

                <ul class="breadcrumb mr-4 ml-4">
                    <li class="breadcrumb-item active">
                        <a href="/courses/" class="">Cursos({{ conunter | subjects(1) }}) </a>
                    </li>

                    <li class="breadcrumb-item">
                        Profesores({{ conunter | teachers(1) }})
                    </li>
                </ul>

                {% if (conunter | teachers(1) ) > 0 %}
                    <div class="row mr-4 ml-4">

                        <div class="table-responsive">

                            <table class="table table-striped table-borderless table-hover bg-white rounded-lg" id="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class=""></th>
                                        <th scope="col" class="text-primary column-header">Nombre completo</th>
                                        <th scope="col" class="text-primary column-header">Email</th>
                                        <th scope="col" class="text-primary column-header">Nummer de Contacto</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for i in range( counter |teachers(1)) %}
                                        {% set dato = [
                                            teachers[i].id, 
                                            teachers[i].full_name,
                                            teachers[i].email | default("", False), 
                                            teachers[i].phone | default("", False)] %}
                                        <tr>
                                            <td scope="row" class="list-buttons-column">
                                                <button class="btn shadow-none btn-outlne text-info my-sm-0"
                                                 onclick='editTeachers({{ dato | tojson }})'
                                                 data-toggle="modal" data-target="#editTeachers">
                                                    <span title="Editar informacion" class="fas fa-pencil-alt glyphicon glyphicon-pencil"></span>
                                                </button>

                                                <a href="{{ url_for('auth.delete_teachers', id=teachers[i].id) }}" class="btn btn-delete shadow-none btn-outlie text-danger my-sm-0">
                                                    <span title="Eliminar" class="fa fa-trash glyphicon glyphicon-trash"></span>
                                                </a>
                                            </td>
                                            <th>{{teachers[i].full_name }}</th>
                                            <td><a href="#">{{teachers[i].email }}</a></td>
                                            <td>{{teachers[i].phone_number }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}