{% extends "base.html" %} {% from "macro.html" import Form_off_label as form %} 
{% block content %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">

                <ol class="breadcrumb" aria-label="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a href="/subjects/finished">Cursadas({{num_completed}})</a>
                    </li>

                    <li class="breadcrumb-item">
                        Agregar calificación
                    </li>
                </ol>

                <div class="row m-auto" style="height: 60vh;">
                    <div class="col-md-6 m-auto">
                        <form action=" {{url_for('auth.add_qualification', id=data.id)}} " method="POST" class="card card-body">
                            {{ finished_form.hidden_tag() }}
                            <div class="form-group">
                                {{ form(finished_form.name, class="form-control form-control-lg", readonly='readonly', value=data.name) }}
                            </div>

                            <div class="form-group">
                                {{ form(finished_form.calificacion, class="form-control form-control-lg") }}
                            </div>

                            <div class="text-center form-group">
                                {{ form(finished_form.submit, class="btn btn-primary btn-lg", value="Agregar") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}