
<div id="staticBackdrop" class="modal fade hide in" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="False">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h3 class="m-auto">
                    <h3 class="modal-title m-auto text-primary">Nuevo Evento</h3>
                </h3>
                <button type="button" class="close btn-sm" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="{{ url_for( 'auth.register_event') }}" method="POST">
                    {{ event_form.hidden_tag() }}
                    <div class="form-group">
                        <label for="name ">Nombre 
                             <strong style="color: red; ">*</strong>
                        </label>
                        {{ Form_off_label(event_form.name, class='form-control') }}
                    </div>

                    <div class="form-group">
                        <label for="lugar ">Lugar 
                            <strong style="color: red; ">*</strong>
                        </label>
                        {{ Form_off_label(event_form.lugar, class='form-control') }}
                    </div>

                    <div class="form-group">
                        {{ Form_off_label(event_form.url.label) }}
                        {{ Form_off_label(event_form.url, class='form-control') }}
                    </div>

                    <div class="form-row">
                        <div class="form-groupcol-md-6">
                            <label for="estart_date ">Inicio 
                                <strong style="color: red; ">*</strong>
                            </label>
                            {{ Form_off_label(event_form.start_date, class='form-control') }}
                        </div>

                        <div class="form-groupcol-md-6">
                            <label for="end_date ">Fin
                                    <strong style="color: red; ">*</strong>
                            </label>
                            {{ Form_off_label(event_form.end_date, class='form-control') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nota">Comentario</label>
                        {{ Form_off_label(event_form.nota, class='form-control', rows="3") }}
                    </div>

                    <div class="text-center form-group">
                        {{ Form_off_label(event_form.submit, class='btn btn-primary btn-lg', value='Guardar') }}
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>