<form action="{{ url_for( 'auth.register_event') }}" method="POST">
    {{ event_form.hidden_tag() }}
    <div class="control-group ">
        <div class="control-label ">
            <label for="name ">Nombre 
                    <strong style="color: red; ">*</strong>
            </label>
        </div>
        <div class="controls ">
            <div class="from-control ">
                {{ Form_off_label(event_form.name, class='form-control') }}
            </div>
        </div>
    </div>

    <div class="control-group ">
        <div class="control-label ">
            <label for="lugar ">Lugar 
                    <strong style="color: red; ">*</strong>
            </label>
        </div>
        <div class="controls ">
            <div class="from-control ">
                {{ Form_off_label(event_form.lugar, class='form-control') }}
            </div>
        </div>
    </div>

    <div class="control-group ">
        <div class="control-label ">
            <label for="dia ">Dia 
                    <strong style="color: red; ">*</strong>
            </label>
        </div>
        <div class="controls ">
            <div class="from-control ">
                {{ Form_off_label(event_form.dia, class='form-control') }}
            </div>
        </div>
    </div>

    <div class="control-group ">
        <div class="control-label ">
            <label for="hora_inicio ">Hora de inicio 
                    <strong style="color: red; ">*</strong>
            </label>
        </div>
        <div class="controls ">
            <div class="from-control ">
                {{ Form_off_label(event_form.hora_inicio, class='form-control') }}
            </div>
        </div>
    </div>

    <div class="control-group ">
        <div class="control-label ">
            <label for="hora_fin ">Hora limite 
                    <strong style="color: red; ">*</strong>
            </label>
        </div>
        <div class="controls ">
            <div class="from-control ">
                {{ Form_off_label(event_form.hora_fin, class='form-control') }}
            </div>
        </div>
    </div>

    <div class="control-group ">
        <div class="control-label ">
            <label for="no</label>
        </div>
        <div class=" controls ">
            <div class="from-control ">
                {{ Form_off_label(event_form.nota, class='form-control') }}
            </div>
        </div>
    </div>

    <div class="modal-footer ">
        <div class="controls ">
            {{ Form_off_label(event_form.submit, class='btn btn-primary', value='Guardar') }}
            <a href="/events " class="btn btn-danger " data-dissmis="modal ">Cancelar</a>
        </div>
    </div>
</form>