<form action="{{ url_for( 'auth.register_event') }}" method="POST">
    {{ event_form.hidden_tag() }}
    <div class="form-group">
        <label for="name ">Nombre 
             <strong style="color: red; ">*</strong>
        </label>
        {{ Form_off_label(event_form.name, class='form-control') }}
    </div>

    <div class="form-group">
        <label for="lugar ">Lugar 
            <strong style="color: red; ">*</strong>
        </label>
        {{ Form_off_label(event_form.lugar, class='form-control') }}
    </div>

    <div class="form-group">
        {{ Form_off_label(event_form.url.label) }}
        {{ Form_off_label(event_form.url, class='form-control') }}
    </div>

    <div class="form-row">
        <div class="form-groupcol-md-6">
            <label for="estart_date ">Inicio 
                <strong style="color: red; ">*</strong>
            </label>
            {{ Form_off_label(event_form.start_date, class='form-control') }}
        </div>

        <div class="form-groupcol-md-6">
            <label for="end_date ">Fin
                    <strong style="color: red; ">*</strong>
            </label>
            {{ Form_off_label(event_form.end_date, class='form-control') }}
        </div>
    </div>

    <div class="form-group">
        <label for="nota">Comentario</label>
        {{ Form_off_label(event_form.nota, class='form-control', rows="3") }}
    </div>

    {{ Form_off_label(event_form.submit, class='btn btn-primary form-control btn-sm', value='Guardar') }}
    
</form>