
<div id="galeryModal" class="modal fade hide in" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="False">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h3 class="m-auto">
                    <h3 class="modal-title m-auto text-primary">Galeria</h3>
                </h3>
                <button type="button" class="close btn-sm" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="{{ url_for( 'auth.register_event') }}" method="POST">
                    
                    <div class="row col-md-12 galery">
                    	
	                    {% for i in range(1, 11) %}
	                    	
	                    	<div class="m-auto form-group">
	                    		
	                    		<input type="radio" name="img" id={{ "img_%s" | format(i) }} 
	                    		 value= {{ "img_%s" | format(i) }} >

	                    		<label for={{ "img_%s" | format(i) }}>
	                    			<img src=" {{ url_for('static',filename='images/galery/courses/users/png/img_{}.png'.format(i)) }} ">
	                    		</label>
	                    	</div>
	                    {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>