<!-- Modal -->
<div class="modal fade" id="qualification" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h3 class="m-auto">
        <h3 class="modal-title m-auto text-primary">Agregar Calificación</h3>
        </h3>
        <button type="button" class="close btn-sm" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action=" {{ url_for('auth.add_qualification') }} " method="post">
          {{ qualif_form.hidden_tag() }}
          {{ Form_off_label(qualif_form.id, class="form-control d-none", id="id") }}
          <div class="form-group">
            {{ Form_off_label(qualif_form.name.label) }} 
            {{ Form_off_label(qualif_form.name, class="form-control", id="subject") }}
          </div>
          <div class="form-group">
            {{ Form_off_label(qualif_form.calificacion.label) }} 
            {{ Form_off_label(qualif_form.calificacion, class="form-control", id="calificacion") }}
          </div>

          <div class="text-center form-group">
            {{ Form_off_label(qualif_form.submit, class="btn btn-primary btn-lg", value="Guardar") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>