<!-- Modal -->
<div class="modal fade" id="editSubject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h3 class="m-auto">
        <h3 class="modal-title m-auto text-primary">Editar Asignatura</h3>
        </h3>
        <button type="button" class="close btn-sm" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action=" {{ url_for('auth.update_subjects') }} " method="POST">
          {{ subject_form.hidden_tag() }}
          <input type="hidden" name="id" id='id' required>
          <div class="form-group">
            <label for="name">Nombre
              <strong style="color: red; ">*</strong>
            </label>
            {{ Form_off_label(subject_form.name, class="form-control", id="subject") }}
          </div>
          <div class="form-group">
            <label for="profesor">Profesor</label>
            {{ Form_off_label(subject_form.profe, class="form-control", id="profesor") }}
          </div>

          <div class="text-center form-group">
            {{ Form_off_label(subject_form.submit, class="btn btn-primary btn-lg", value="Editar") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>