<div id="editTeachers" class="modal fade hide in" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="False">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;">
                <h3 class="m-auto">
                    <h3 class="modal-title m-auto text-primary">Nuevo Profesor/a</h3>
                </h3>
                <button type="button" class="close btn-sm" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="{{ url_for( 'auth.update_teacher') }}" method="POST" onclick="return editTeacher();">
                    {{ profe_form.hidden_tag() }}
                    {{ Form_off_label(profe_form.id, class="d-none", id="token") }}

                    <div class="form-group">
                        <label for="asignada_en ">Nombre completo
                            <strong style="color: red; ">*</strong>
                        </label>
                        {{ Form_off_label(profe_form.full_name, class="form-control teacher") }}
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ Form_off_label(profe_form.email.label) }}
                            {{ Form_off_label(profe_form.email, class="form-control email") }}
                        </div>

                        <div class="form-group col-md-6">
                            {{ Form_off_label(profe_form.phone.label) }}
                            {{ Form_off_label(profe_form.phone, class="form-control phone") }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="asignada_en">Asignatura</label>
                        {{ Form_off_label(profe_form.subjects, class="form-control subject") }}
                    </div>

                    <div class="text-center form-group">                             
                        {{ Form_off_label(profe_form.submit, class="btn btn-primary btn-lg", value="Editar", 
                        id="submitEdirTeacher") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>