{% extends 'anonimus_user_base.html' %}
{% from 'macro.html' import Form_off_label, Form %}
{% block content %}

<body>

    <div class="container">

        <div class="row" style="height: 100vh">
            <div class="col-md-6 m-auto">
                
                <div class="row">
                    
                    <div class="card col-md-8 m-auto shadow-lg">
                        
                        <div class="card-header bg-white">
                            
                            <h3 class="text-center notranslate">
                                Taskbook
                            </h3>
                        </div>

                        <div class="text-center m-3">
                            <h1 class="h4 text-gray-900 mb-2">¿Olvidaste tu contraseña?</h1>
                            <p class="mb-4">Lo entendemos. Simplemente ingrese su dirección de correo electrónico a continuación y le enviaremos un enlace para restablecer su contraseña.</p>
                        </div>

                        <form class="card-body" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">

                            {{ forgot_password_form.hidden_tag() }}

                            <div class="form-group">
                                <label for="email">Correo electronico</label>
                                {{ Form_off_label(forgot_password_form.email, class="form-control", placeholder="usuario@ejemplo.com") }}
                            </div>

                            <div class="form-group">
                               {{ Form_off_label(forgot_password_form.submit, 
                                class="btn btn-primary btn-block",
                                value="Recuperar contraseña") }}
                            </div>
                        </form>

                        {% include 'messages.html' %}

                        <div class="card-footer bg-white text-center">
                            <p class="py-3 m-auto">¿Ya tienes una cuenta?
                                <a href="{{ url_for_security('login') }}">¡Iniciar sesión!</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="card col-md-8 m-auto shadow-lg">
                        <div class="m-auto" style="height: 100%">
                            <p class="py-3 m-auto">¿No tienes una cuenta?
                                <a href="{{ url_for_security('register') }}">¡Registrate!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}