{% extends 'anonimus_user_base.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from 'macro.html' import Form_off_label %} 
{% block content %}

<body>
	<div class="container">
    
    	<div class="row" style="height: 100vh">

    		<div class="m-auto col-md-6">

    			<div class="row">
    				<div class="card col-sm-6 col-md-8 m-auto shadow-lg">

    					<div class="card-header bg-white">
    						<h3 class="text-center notranslate">
    							Taskbook
    						</h3>
    					</div>

                        {% include 'messages.html' %}

    					<form id='login_user_form' class="card-body" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">

	                    	{{ login_user_form.hidden_tag() }}

		                    <div class="form-group">
		                    	<label for="email">Correo electronico</label>
			    				{{ Form_off_label(login_user_form.email, class="form-control ", placeholder='usuario@ejemplo.com', autofocus='autofocus') }}
		                    </div>

		                    <div class="form-group">
		                    	<label for="password">Contraseña</label>
		                      	{{ Form_off_label(login_user_form.password, class="form-control ",id="exampleInputPassword", placeholder="Contraseña") }}
		                    </div>

		                    <div class="form-group">
					    		<div class="form-check">
					    			{{ Form_off_label(login_user_form.remember, class="form-check-input") }}
					    			<label for="remember" class="form-check-label">Recordarme</label> 
					    		</div>
					    	</div>

		                    <div class="form-group">
		                    	{{ Form_off_label(login_user_form.submit, class="btn btn-primary btn-block", value='Iniciar sesión') }}
		                    </div>

	                  	</form>

	                  	<div class="card-footer bg-white text-center">
                            <a href="{{ url_for_security('forgot_password') }}">¿Olvidaste tu contraseña?</a>
                        </div>
    				</div>
    			</div>

    			<div class="row mt-3">
                    <div class="card col-md-8 m-auto shadow-lg">
                        <div class="m-auto" style="height: 100%">
                            <p class="py-3 m-auto">¿No tienes una cuenta? 
                            	<a href="{{ url_for_security('register') }}">¡Registrate!</a>
                            </p>
                        </div>
                    </div>
                </div>
    		</div>
    	</div>
	</div>
</body>

{% endblock %}