{% extends 'anonimus_user_base.html' %} {% block content %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from 'macro.html' import Form_off_label %}

<body>
    <div class="container">
        
        <div class="row" style="height: 100vh">

            <div class="m-auto col-md-8">

                <div class="row">

                    <div class="card col-md-8 m-auto shadow-lg">
                       
                        <div class="card-header bg-white">
                            
                            <h3 class="text-center notranslate">
                                Taskbook
                            </h3>
                        </div>

                        <form class="card-body" action="{{ url_for_security('register') }}" method="post" name="register_user_form">

                            {{ register_user_form.hidden_tag() }}

                            <div class="form-group row">

                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ Form_off_label(register_user_form.first_name.label) }}
                                    {{ Form_off_label(register_user_form.first_name, class="form-control ", placeholder="Nombre") }}
                                </div>

                                <div class="col-sm-6">
                                    {{ Form_off_label(register_user_form.last_name.label) }}
                                    {{ Form_off_label(register_user_form.last_name, class="form-control ", placeholder="Apellido") }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ Form_off_label(register_user_form.email.label) }}
                                {{ Form_off_label(register_user_form.email, class="form-control ", placeholder="usuario@ejemplo.com") }}
                            </div>

                            <div class="form-group row">

                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ Form_off_label(register_user_form.password.label) }}
                                    {{ Form_off_label(register_user_form.password, class="form-control ", placeholder="Contraseña") }}
                                </div>

                                <div class="col-sm-6">
                                    {{ Form_off_label(register_user_form.password_confirm.label) }}
                                    {{ Form_off_label(register_user_form.password_confirm, class="form-control ", placeholder="Repite la contraseña") }}
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group col-md-3">
                                    {{ Form_off_label(register_user_form.gender.label) }}
                                    {{ Form_off_label(register_user_form.gender, class="form-control ", placeholder="Genero") }}
                                </div>

                                <div class="col-md-4">
                                    {{ Form_off_label(register_user_form.country.label) }}
                                    {{Form_off_label(register_user_form.country, class="form-control")}}
                                </div>

                                <div class="col-md-5">
                                    {{ Form_off_label(register_user_form.phone_number.label) }}
                                    {{ Form_off_label(register_user_form.phone_number, class="form-control ", placeholder="Numero de telefono") }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    {{ Form_off_label(register_user_form.aceptar, class="form-check-input") }}
                                    <label for="aceptar" class="form-check-label">
                                        <a href="#" title="terminos">Acepto los termino</a>
                                    </label> 
                                </div>
                            </div>

                            <div class="form-group">
                                {{ Form_off_label(register_user_form.submit, class="btn btn-primary btn-block", value="Registrar") }}
                            </div>

                        </form>
                                
                        <div class="card-footer bg-white text-center">
                            <a href="{{ url_for_security('forgot_password') }}">
                                ¿Olvidaste tu contraseña?
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="card col-md-8 m-auto shadow-lg">
                        <div class="m-auto" style="height: 100%">
                            <p class="py-3 m-auto">¿Ya tienes cuenta?  
                                <a href="{{ url_for_security('login') }}">¡Iniciar sesión!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}