.row-striped:nth-of-type(odd) {
    background-color: #efefef;
    border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even) {
    background-color: #ffffff;
    border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

col-float-left {
    float: left;
}

.card-z {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    /* margin-bottom: 50%; */
    /* Added */
    margin-top: 25%;
}

.cursor {
    cursor: pointer;
}

table {
    table-layout: fixed;
    width: 90%;
    text-align: center;
}

th,
td {
    border: 1px solid blueviolet;
    width: 120px;
    word-wrap: break-word;
    background-color: white;
}

.th {
    width: 35px;
}

.title {
    text-align: center;
    color: #444;
}