{% extends 'admin/master.html' %} 

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-8 shadow">
				<article>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio,
						provident! Iste vitae veritatis molestiae dicta quas sapiente, 
						enim delectus dolor a quos magnam. Laudantium distinctio eos, 
						quaerat qui omnis sint!
					</p>
				</article>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 shadow">
				<article>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Optio, provident! Iste vitae veritatis molestiae dicta quas sapiente, 
						enim delectus dolor a quos magnam. Laudantium distinctio eos,
						quaerat qui omnis sint!
					</p>
				</article>
			</div>
		</div>
	</div>
{% endblock %}