{% extends 'admin/master.html' %}

{% block body %}
	<div class='row'>

		<div class="col-xl-8 col-lg-7">
	            	
			<div class="card shadow mb-4">
				<!-- Card Header - title -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				
					<h6 class="m-0 font-weight-bold text-primary">Estadisticas</h6>

				</div>
						
				<!-- Card Body -->
				<div class="card-body">

					<div class="chart-area">

						<canvas id="myAreaChart">
							
						</canvas>

					</div>

				</div>

			</div>

	    </div>

	</div>

{% endblock %}