{% extends "base.html" %} {% block content %} {% from 'macro.html' import Form_off_label, navbar %}

<div id="react">
	
</div>

{% endblock %}

{% block _scripts %}
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<script type="text/babel" src=" {{url_for('static',filename='react/test.js')}} "></script>
{% endblock %}