<!DOCTYPE html>
<html lang="en">

{% block head %}
	{% block meta %}
		<meta charset="UTF-8">
		<meta name="Description" content="Edcation Web">
		<meta name="viewport" content="width=devic-width, initial-scale=1.0">
		<meta name="Author" content="Benjamin Rosario --Rainsoft--">
	{% endblock %}
	{% block title %}
		<title class="notranslate">Taskbook</title>
	{% endblock %}
	{{ bootstrap.load_css() }}
	<link href=" {{ url_for('static',filename='css/sb-admin-2.min.css') }} " rel="stylesheet" >
	<link href=" {{ url_for('static',filename='css/style.css') }} " rel="stylesheet" >
	<link href=" {{ url_for('static',filename='css/bootstrap.min.css') }} " rel="stylesheet" >
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
{% endblock %}


{% block content %}


{% endblock %}

{% include 'scripts.html' %}
</html>