{% macro Form(field) %}
    <p>
        {{ field.label }}
        {{ field(**kwargs) | safe }}

    	{% if field.errors %}
            {% for error in errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </p>
{% endmacro %}

{% macro Form_off_label(field) %}

    {{ field(**kwargs) | safe }}

    {% if field.errors %}
        {% for error in errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    {% endif %}
    
{% endmacro %}

{% macro input() -%}
    <input {{ kwargs }}>
{%- endmacro %}

{% macro navbar(name, holder, title, modal_id) %}
    <nav class="navbar navbar-light shadow-none">
        <button type="button" title="{{title}}" class="btn btn-secondary btn-circle" 
         data-toggle="modal" data-target="{{modal_id}}">
            <i class="fas fa-plus"></i>
        </button>
        
        <form class="mr-2">
            <input type="text" class="form-control" id="search" 
            placeholder="{{holder}}" aria-label="Search" size='32'>
        </form>
    </nav>
{% endmacro %}