<script src="{{url_for('static',filename='js/jquery/jquery.min.js')}} " type="text/javascript"></script>
<script src="{{url_for('static',filename='js/jquery-easing/jquery.easing.min.js')}} "></script>
{{ bootstrap.load_js() }}
<script src="{{url_for('static',filename='js/boostrap4.1.1/popper.min.js')}} "></script>
<script src="{{url_for('static',filename='js/DataTables/datatables.min.js')}} "></script>
<script src="{{url_for('static',filename='js/DataTables/dataTables.bootstrap4.min.js')}} "></script>
<script src="{{url_for('static',filename='js/underscore-min.js')}} "></script>
<script src="{{url_for('static',filename='js/sb-admin-2.min.js')}} "></script>
<script src="{{url_for('static',filename='js/promises.finally.js')}} "></script>
<script src="{{url_for('static',filename='js/sweetalert2.min.js')}} "></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script type="text/babel" src=" {{url_for('static',filename='react/test.js')}} "></script>
<script src="{{url_for('static',filename='js/socket.js')}} "></script>
<script src="{{url_for('static',filename='js/app.js')}} "></script>
<script src="{{url_for('static',filename='js/delete.js')}} "></script>
<script src="{{url_for('static',filename='js/edit.js')}} "></script>
<script src="{{url_for('static',filename='js/subjects.js')}} "></script>
<script src="{{url_for('static',filename='js/table.js')}} "></script>
<script src="{{url_for('static',filename='js/forms.js')}} "></script>
<script src="{{url_for('static',filename='js/search.js')}} "></script>
